extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Blockchain Keeper
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/team') My Team 
                li.nav-item
                    a.nav-link(href='/matchup') Matchup
                li.nav-item
                    a.nav-link(href='/players') Players
                li.nav-item.active
                    a.nav-link(href='/league') League
                    span.sr-only (current)
                li.nav-item
                    a.nav-link(href='/trades') Trade Requests
    table.table
        thead
            tr
            th(scope='col') Rank
            th(scope='col') Player
            th(scope='col') W-L-T
        tbody
            each user in users
                tr
                    th(scope='row')=user.rank
                    td=user.name
                    td=user.score
